ym-navbar {

  .navbar {

    .navbar-nav {

      .avatar-nav-item {

        button {
          cursor: pointer;

          img {
            width: 25px;
            height: 25px;
          }

        }

      }

    }

  }

}
