<nav class="navbar navbar-expand-sm">

  <div class="container-fluid">
    <a class="navbar-brand primary-font" routerLink="">YMRLK</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse justify-content-end navbar-collapse" id="navbarNav">

      <ul class="navbar-nav">

        <ng-container>
          <li class="nav-item">
            <a class="nav-link"
               routerLink="login"
               routerLinkActive="active">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
               routerLink="register"
               routerLinkActive="active">Register</a>
          </li>
        </ng-container>

        <li class="nav-item avatar-nav-item align-self-center mx-2">
          <a (click)="$event.preventDefault()" routerLink="user/admin">
            <img src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                 alt="avatar" />
          </a>
        </li>

      </ul>

    </div>

  </div>

</nav>
