<form class="ym-dialog-container" [formGroup]="form">

  <div class="ym-dialog-title">
    <h4>Forgot password ?</h4>
    <button class="btn-as-link" (click)="closeDialog()">
      <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="512" height="512">
        <path d="M16,8a1,1,0,0,0-1.414,0L12,10.586,9.414,8A1,1,0,0,0,8,9.414L10.586,12,8,14.586A1,1,0,0,0,9.414,16L12,13.414,14.586,16A1,1,0,0,0,16,14.586L13.414,12,16,9.414A1,1,0,0,0,16,8Z"/>
        <path d="M12,0A12,12,0,1,0,24,12,12.013,12.013,0,0,0,12,0Zm0,22A10,10,0,1,1,22,12,10.011,10.011,0,0,1,12,22Z"/>
      </svg>
    </button>
  </div>

  <div class="ym-dialog-content">

    <p>Enter the email address you used when you joined and we’ll send you instructions to reset your password.</p>
    <p>For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.</p>

    <div class="form-control">
      <label for="emailForResetPassword">
        Email address

        <ng-container *ngIf="form.controls.email.invalid && form.controls.email.dirty || form.controls.email.touched">

          <ng-container *ngIf="form.controls.email?.errors?.['email']">
            <span class="error-message">Is not valid</span>
          </ng-container>

          <ng-container *ngIf="form.controls.email?.errors?.['required']">
            <span class="error-message">Is required</span>
          </ng-container>

        </ng-container>
      </label>
      <input id="emailForResetPassword" type="email" placeholder="Type in your email address" formControlName="email" />
    </div>

  </div>

  <div class="ym-dialog-footer">
    <button class="primary-button"
            [disabled]="form.invalid"
            (click)="resetPassword()">
      Reset my password
    </button>
  </div>

</form>
