@import "../../../../../assets/styles/mixins/dialog.mixin";

ym-forgot-password-dialog {

  @include ym-dialog();

  //  Overridden
  .ym-dialog-container {

    .ym-dialog-content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

  }
}
