<div class="auth-container">

  <div class="left-side-container">

    <div class="logo">
      <a routerLink="">
        <img src="assets/images/ymrlk-logo.png" alt="ymrlk-logo" />
      </a>
    </div>

    <header>
      <h1>A place where free thoughts are born</h1>
    </header>

  </div>

  <div class="right-side-container">

    <nav class="auth-path">

      <p class="auth-link">
        <a routerLink="">Go home</a>
      </p>

      <p class="auth-link">
        Not a member yet?
        <a routerLink="/register">Register right now</a>
      </p>
    </nav>

    <form class="auth-form" [formGroup]="form">

      <div class="logo">
        <h2>Login <span>to</span></h2>
        <a routerLink="">
          <img src="assets/images/ymrlk-logo.png" alt="ymrlk-logo" />
        </a>
      </div>

      <div class="form-control">
        <label for="email">
          Email

          <ng-container *ngIf="form.controls.email.invalid && form.controls.email.dirty || form.controls.email.touched">

            <ng-container *ngIf="form.controls.email?.errors?.['email']">
              <span class="error-message">Is not valid</span>
            </ng-container>

            <ng-container *ngIf="form.controls.email?.errors?.['required']">
              <span class="error-message">Is required</span>
            </ng-container>

          </ng-container>
        </label>
        <input id="email" type="email" placeholder="Type in your email address" formControlName="email" />
      </div>

      <div class="form-control with-forgot-password">
        <label for="password">
          Password

          <ng-container *ngIf="form.controls.password.invalid && form.controls.password.dirty || form.controls.password.touched">

            <ng-container *ngIf="form.controls.password?.errors?.['required']">
              <span class="error-message">Password is required</span>
            </ng-container>

          </ng-container>
        </label>
        <input id="password" type="password" placeholder="Type in your password" formControlName="password" />

        <button class="btn-as-link" (click)="openForgotPasswordDialog()">
          Forgot password?
        </button>

      </div>

      <button class="primary-button"
              [disabled]="form.invalid"
              (click)="login()">
        Get me in
        <ym-loader></ym-loader>
      </button>

      <nav class="auth-path">

        <p class="auth-link">
          <a routerLink="">Go home</a>
        </p>

        <p class="auth-link">
          Not a member yet?
          <a routerLink="/register">Register right now</a>
        </p>
      </nav>

    </form>

  </div>

</div>
