@import "../../assets/styles/variables";
@import "../../assets/styles/mixins/auth-container.mixin";

ym-login {
  display: block;
  height: 100%;

  @include ym-auth-container();

  .auth-form {

    ym-form-control-input,
    .primary-button {
      width: 100%;
    }

    .btn-as-link {
      margin-top: 15px;
    }

  }

}
