<form class="auth-form d-flex flex-column align-items-center justify-content-center"
      [formGroup]="form">

  <div class="form-control-container d-flex flex-column">
    <label for="login">Login</label>
    <input id="login" type="text" placeholder="Type in your login here" formControlName="userName" />
  </div>

  <div class="form-control-container d-flex flex-column">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Type in your password here" formControlName="password" />
  </div>

  <button (click)="login()">Login</button>

</form>
