<form class="account-settings-form" [formGroup]="form">

  <ym-form-control-input
    label="First name"
    forId="firstName"
    type="text"
    placeholder="Type in your first name"
    formControlName="firstName">

    <ym-control-validation [control]="form.controls.firstName"></ym-control-validation>

  </ym-form-control-input>

  <ym-form-control-input
    label="last name"
    forId="lastName"
    type="text"
    placeholder="Type in your last name"
    formControlName="lastName">
    <ym-control-validation [control]="form.controls.lastName"></ym-control-validation>
  </ym-form-control-input>

  <ym-form-control-input
    label="Email"
    forId="email"
    type="text"
    placeholder="Type in your email address"
    formControlName="email">
    <ym-control-validation [control]="form.controls.email"></ym-control-validation>
  </ym-form-control-input>

  <ym-form-control-input
    label="Subdomain"
    forId="subdomain"
    type="text"
    placeholder="Change URL subdomain"
    formControlName="subdomain">

    <span class="legend">
      Your public URL will look like: <b>{{ env.client.baseUrl }}/{{ form.controls.subdomain.value ? form.controls.subdomain.value : user?.uuid }}</b>
    </span>

  </ym-form-control-input>

  <button class="primary-button"
          [disabled]="form.invalid"
          (click)="saveChanges()">
    Save changes
    <ym-loader></ym-loader>
  </button>

</form>
