<form class="ym-dialog-container">

  <div class="ym-dialog-title">
    <h4>{{ dialogData.label }}</h4>
  </div>

  <div class="ym-dialog-content">
    <ng-container *ngTemplateOutlet="dialogData.content!"></ng-container>
  </div>

  <div class="ym-dialog-footer">
    <button class="primary-button" (click)="closeDialog()">
      {{ dialogData.cancelButtonText || 'Cancel' }}
    </button>

    <button class="primary-button" (click)="closeDialog(true)">
      {{ dialogData.confirmButtonText || 'Ok' }}
    </button>
  </div>

</form>
