@import "../variables";

.primary-button {
  background-color: $btn-border-color;
  border: none;
  height: 40px;
  font-size: 14px;
  transition: $transition-ease;
  text-transform: uppercase;
  border-radius: $border-radius;
  color: $white-font-color;
  position: relative;
  padding: 0 20px;

  span, label {
    color: $white-font-color;
  }

  ym-loader {
    position: absolute;
    right: 10px;
    top: 0;
    transform: translate(0, 50%);
  }

  &:hover {

    &:not(:disabled) {
      box-shadow: 0 5px 15px $glow-effect-color;
      cursor: pointer;
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-as-link {
  border: none;
  height: inherit;
  background: none;
  position: relative;
  color: $btn-border-color;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  padding: 0;

  svg {
    width: 17px;
    height: 17px;
  }
}

.default-button {
  @extend .primary-button;
  background-color: $divider-color;
  color: $primary-font-color;
}
