@import "../variables";

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;

  label {
    margin-bottom: 5px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    .error-message {
      margin-top: 0;
    }

    .info-message {
      font-size: 13px;
    }
  }

  .form-control-input {
    width: 100%;
    position: relative;

    button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      border: none;
      background: transparent;
      cursor: pointer;

      &:disabled {
        opacity: 0.7;
      }
    }
  }

  input, textarea {
    border: 1px solid $controls-border-color;
    border-radius: $border-radius;
    outline: none;
    height: 40px;
    padding-left: 5px;
    font-size: 14px;
    background-color: $general-bg-color;
    transition: $transition-ease;
    width: inherit;

    &:focus {
      border: 1px solid $btn-border-color;
    }
  }

  textarea {
    resize: none;
    min-height: 150px;
    padding: 10px;
  }

  .legend {
    margin-top: 10px;
    font-size: 13px;
    opacity: 0.7;
  }
}
