<ym-navbar (userState)="initUser($event)"></ym-navbar>

<div class="profile-container">

  <div class="profile-card-container">

    <div class="profile-card">

      <ym-avatar [source]="user?.avatarSrc!"
                 [width]="150"
                 [height]="150"
                 alt="{{ user?.firstName }} {{ user?.lastName }}">
      </ym-avatar>

      <div class="profile-simple-info">
        <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
        <button class="primary-button" routerLink="/account-settings">Edit profile</button>

        <a routerLink="/profile/{{ user?.subdomain }}" class="btn-as-link">My public profile</a>
      </div>

    </div>

  </div>

  <ym-tabs [tabsList]="profileTabs"></ym-tabs>

</div>
