<ym-navbar></ym-navbar>

<div class="profile-container">

  <div class="profile-card-container">

    <div class="profile-card">

      <ym-avatar [source]="user?.avatarSrc!"
                 [width]="150"
                 [height]="150"
                 alt="{{ user?.firstName }} {{ user?.lastName }}">
      </ym-avatar>

      <div class="profile-simple-info">
        <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>

        <ng-container *ngIf="!isPublicProfile && isMe">
          <button class="primary-button" routerLink="/account-settings">Edit profile</button>
          <a routerLink="/profile/{{ user?.subdomain }}" class="btn-as-link">View public profile</a>
        </ng-container>

        <button *ngIf="isPublicProfile && isMe" class="btn-as-link" routerLink="/profile/current" (click)="follow()">Back</button>
        <button *ngIf="isPublicProfile && !isMe" class="btn-as-link" (click)="follow()">Follow</button>

      </div>

    </div>

  </div>

  <ym-tabs #tabsComponent [tabsList]="profileTabs"></ym-tabs>

</div>
