@import "../../assets/styles/variables";

ym-profile {

  .profile-container {
    padding: 0 80px;
    transition: $transition-ease;

    .profile-card-container {
      padding: 60px 0 20px;

      .profile-card {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-simple-info {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          min-width: 200px;

          h1 {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }

          a.btn-as-link {
            margin-top: 10px;
            width: 100%;
            text-align: center;
            display: inline-block;
          }

          @media screen and (max-width: $HandsetBreakpoint) {
            align-items: center;
            margin: 0;
          }
        }

        @media screen and (max-width: $HandsetBreakpoint) {
          flex-direction: column;
        }
      }

      @media screen and (max-width: $HandsetBreakpoint) {
        padding: 20px 0 20px;
      }
    }

    @media screen and (max-width: $HandsetBreakpoint) {
      padding: 0 20px;
    }
  }

}
