@import "./assets/fonts/Roboto/roboto.scss.css";

* {
  font-family: Roboto-regular-400, sans-serif;
}

h1, h2, h3 {
  font-family: Roboto-black-900, sans-serif;
}

h4 {
  font-family: Roboto-medium-500, sans-serif;
}

h5, h6 {
  font-family: Roboto-regular-400, sans-serif;
}
