@import 'ngx-toastr/toastr';

@import "./assets/fonts/Roboto/roboto.scss.css";
@import "./assets/styles/variables";

@import "./assets/styles/common-classes/commons";
@import "./assets/styles/common-classes/button";
@import "./assets/styles/common-classes/form-control";

* {
  font-family: Roboto-medium-500, sans-serif;
  color: $primary-font-color;
}
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $general-bg-color;

  .ymrlk-toast-override-panel {
    .toast-title,
    .toast-message {
      color: $white-font-color;
    }
  }
}
