<form class="account-settings-form" [formGroup]="form">

  <div class="form-control">
    <label for="oldPassword">Old password</label>
    <input id="oldPassword" type="password" placeholder="Type in your old password" formControlName="oldPassword" />
  </div>

  <div class="form-control">
    <label for="newPassword">
      New password

      <ng-container *ngIf="form.controls.newPassword.invalid && form.controls.newPassword.dirty || form.controls.newPassword.touched">

        <ng-container *ngIf="form.controls.newPassword?.errors?.['required']">
          <span class="error-message">Is required</span>
        </ng-container>

        <ng-container *ngIf="form.controls.newPassword?.errors?.['minlength']">
              <span class="error-message">
                Required min length is
                {{ form.controls.newPassword?.errors?.['minlength']['actualLength'] }}
                of
                {{ form.controls.newPassword?.errors?.['minlength']['requiredLength'] }} chars
              </span>
        </ng-container>

        <ng-container *ngIf="form.controls.newPassword?.errors?.['maxlength']">
              <span class="error-message">
                Max length is
                {{ form.controls.newPassword?.errors?.['maxlength']['actualLength'] }}
                of
                {{ form.controls.newPassword?.errors?.['maxlength']['requiredLength'] }} allowed chars
              </span>
        </ng-container>

      </ng-container>
    </label>
    <input id="newPassword" type="password" placeholder="Type in your new password" formControlName="newPassword" />
  </div>

  <button class="primary-button"
          [disabled]="form.invalid"
          (click)="saveChanges()">
    Change passwords
    <ym-loader></ym-loader>
  </button>

</form>
