<form class="account-settings-form" [formGroup]="form">

  <ym-form-control-input label="Old password"
                         forId="oldPassword"
                         type="password"
                         placeholder="Type in your old password"
                         formControlName="oldPassword">

    <ym-control-validation [control]="form.controls.oldPassword"></ym-control-validation>

  </ym-form-control-input>

  <ym-form-control-input
    label="New password"
    forId="newPassword"
    type="password"
    placeholder="Type in your new password"
    formControlName="newPassword">

    <ym-control-validation [control]="form.controls.newPassword"></ym-control-validation>

  </ym-form-control-input>

  <button class="primary-button" [disabled]="form.invalid" (click)="saveChanges()">
    Change passwords
    <ym-loader></ym-loader>
  </button>

</form>

<ng-template #warningDialogContent>
  <p>You are about to change your email address</p>
  <p>If you proceed you will be logged out and be forced to use new email address</p>
</ng-template>
