<div class="container-fluid">

  <form class="auth-form d-flex flex-column align-items-center justify-content-center">

    <div class="form-control-container d-flex flex-column">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="Type in your user name" />
    </div>

    <div class="form-control-container d-flex flex-column">
      <label for="email">Email</label>
      <input id="email" type="email" placeholder="Type in your email address" />
    </div>

    <div class="form-control-container d-flex flex-column">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Type in your password" />
    </div>

    <div class="form-control-container d-flex flex-column">
      <label for="confirmationPassword">Confirm password</label>
      <input id="confirmationPassword" type="password" placeholder="Confirm password" />
    </div>

    <button>Register</button>

  </form>

</div>
