<form class="auth-form d-flex flex-column align-items-center justify-content-center"
      [formGroup]="form">

  <div class="form-control-container d-flex flex-column">
    <label for="username">Username</label>
    <input id="username" type="text" placeholder="Type in your user name" formControlName="userName" />
  </div>

  <div class="form-control-container d-flex flex-column">
    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Type in your email address" formControlName="email" />
  </div>

  <div class="form-control-container d-flex flex-column">
    <label for="password">Password</label>
    <input id="password" type="password" placeholder="Type in your password" formControlName="password" />
  </div>

  <div class="form-control-container d-flex flex-column">
    <label for="confirmationPassword">Confirm password</label>
    <input id="confirmationPassword" type="password" placeholder="Confirm password" formControlName="confirmPassword" />
  </div>

  <button (click)="register()">Register</button>

</form>
